NODE_ENV = development
TURSO_DATABASE_URL = libsql://grateful-jar-tristan2772.aws-us-east-2.turso.io
TURSO_AUTH_TOKEN = your-turso-token-here
BETTER_AUTH_SECRET = your-better-auth-secret-here
BETTER_AUTH_URL = http://localhost:3000
BETTER_AUTH_TRUSTED_ORIGINS = http://localhost:3000,http://127.0.0.1:3000,http://192.168.0.90:3000
GOOGLE_CLIENT_ID = your-google-id-here
GOOGLE_CLIENT_SECRET = your-google-secret-here
S3_ACCESS_KEY = your-s3-key-here
S3_ACCESS_SECRET = your-s3-secret-here
S3_ENDPOINT = https://s3.us-east-2.amazonaws.com
S3_REGION = us-east-2
S3_BUCKET = grateful-jar-images
S3_BUCKET_URL = https://grateful-jar-images.s3.us-east-2.amazonaws.com
SENTRY_ORG = your-sentry-org
SENTRY_PROJECT = your-sentry-project
VITE_SENTRY_DSN = your-sentry-dsn
